@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    text-decoration: none;
    font-family: "Poppinds", sans-serif;
}

body {
    margin:0;
    padding: 0;
    background-color: white;
}

nav{
    background-color: Black;
    display: flex;
    align-item: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-item: center;
}

nav ul li {
    margin-right: 25px;
    margin-top: 10px;
    font-size: 20px;
}

nav ul li a {
    color:white;
}

nav ul li .active {
    color: red;
}

.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
    margin-top: 29px;
}

.nav-right a {
    background-color: brown;
    padding: 8px 20px;
    color: white;
    border-radius: 5px;
}

.skill {
    display: flex;
}

.luffy {
    margin-left: 25px;
}

.text {
    margin-right: 25px;
}

form {
    width: 450px;
    margin: 50px auto;
    padding: 10px;
}

form div {
    margin-top: 15px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input,
 select,
 textarea {
    background-color: lightslategray;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid black;
}

button {
    background-color: red;
    color: white;
    padding: 6px 25px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
background-color: red;
}